Django>=4.2,<5.0
channels>=4.0,<5.0
channels-redis>=4.0,<5.0
django-redis>=5.0,<6.0
python-dotenv>=1.0,<2.0
asgiref>=3.7,<4.0
gunicorn>=21.0,<22.0
daphne>=4.0,<5.0
twisted[http2,tls]>=22.10.0,<24.0
psycopg2-binary>=2.9,<3.0
whitenoise>=6.0,<7.0
dj-database-url>=2.0,<3.0
cryptography>=41.0.0
pyOpenSSL>=23.0.0
service_identity>=21.1.0
